{% extends "base.html" %}

{% load static %}

{% block title %}
<title>{{ pagename }} | Leicunn Studio Blog</title>
{% endblock title %}

{% block brand %}
<a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="{% url 'posts' %}">{{ pagename }}</a>
{% endblock brand %}

{% block customcss %}
<link href="{% static 'css/comment.css' %}" rel="stylesheet" />
{% endblock customcss %}

{% block customjs %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="{% static 'js/comment.js' %}"></script>
{% endblock customjs %}


{% block header %}
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row">
                <div class="col-lg-7 col-md-10">
                    <h1 class="display-2 text-white">Manage Comments</h1>
                    <p class="text-white mt-0 mb-5">View & manage comments by deleting or changing their display status.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock header %}

{% block mainContent %}
<div class="row mt-5">
    <div class="col-xl-12 mb-5 mb-xl-0">
        <div class="card shadow">
            <div class="card-header border-0">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="mb-0">All Comments</h3>
                    </div>
                    <div class="col text-right">
                        <!-- <a href="#!" id="edit" type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#commentChanges">
                            Edit
                        </a> -->
                        <a href="#!" id="edit" class="btn btn-sm btn-info">Edit</a>
                        <a href="#!" id="delete" class="btn btn-sm btn-danger">Delete</a>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <!-- Projects table -->
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th>
                                <div class="mb-3"></div>
                            </th>
                            <th scope="col" class="text-center">Author</th>
                            <th scope="col">Name</th>
                            <th scope="col">Comment</th>
                            <th scope="col" class="text-center">Replies</th>
                            <th scope="col">Post</th>
                            <th scope="col">E-Mail & Website</th>
                            <th scope="col" class="text-center">Respond</th>
                            <th scope="col">Date & Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% csrf_token %}
                        {% for c in comments %}
                        <tr id="comment{{ c.id }}">
                            <td>
                                <div class="custom-control custom-radio mb-3">
                                    <input name="rowcomment" class="custom-control-input" value="{{ c.id }}" id="comment-{{ c.id }}" type="radio">
                                    <label class="custom-control-label" for="comment-{{ c.id }}"></label>
                                </div>
                            </td>
                            <td class="text-center author">
                                {% if c.author %}
                                    <i class="fas fa-user-check text-primary"></i>
                                {% endif %}
                            </td>
                            <td class="text-capitalize"  id="commenter{{ c.id }}">
                                {{ c.name }}
                            </td>
                            <td class="text-break comment">
                                <strong>{{ c.content }}</strong>
                            </td>
                            <td class="text-center">
                                {% if c.parent %}
                                    <i class="fas fa-comment-alt text-purple"></i>
                                {% else %}
                                    <i class="fas fa-comment-alt text-gray"></i>
                                {% endif %}
                            </td>
                            <td class="post">
                                <a class="" href="{% url 'read' slug=c.post.slug %}#comments">
                                    {{ c.post.title | title }}
                                </a>
                            </td>
                            <td class="mail">
                                <a href="mailto:{{ c.email }}" class="text-primary" target="_blank">{{ c.email }}</a>
                                {% if c.website %}
                                    <br/><a href="{{ c.website }}" target="_blank" class="text-primary">{{ c.website }}</a>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <i class="fas fa-retweet text-purple"></i>
                            </td>
                            <td class="text-capitalize">
                                {{ c.created | date:"D d M Y" }}<br/> <strong>|</strong> {{ c.status }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="commentChanges" tabindex="-1" role="dialog" aria-labelledby="makeCommentChanges" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="makeCommentChanges">Make Changes To Comment</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form action="" method="POST" id="form">
                {% csrf_token %}
                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                {% endfor %}

                {% if form.non_field_errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span class="alert-inner--icon"><i class="fas fa-exclamation-circle"></i></span>
                    <span class="alert-inner--text"><strong>Error!</strong> {{ form.non_field_errors.as_text }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}

                {% if form.errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span class="alert-inner--icon"><i class="fas fa-exclamation-circle"></i></span>
                    <span class="alert-inner--text"><strong>Error!</strong> {{ form.errors.as_text }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}

                <div class="modal-body bg-secondary">

                    <div class="row">

                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="form-control-label" for="{{ form.content.id_for_label }}">Comment</label>
                                <textarea rows="4" id="{{ form.content.id_for_label }}" class="form-control form-control-alternative" name="{{ form.content.name }}" maxlength="{{ form.content.field.max_length }}"
                                placeholder="{{ form.content.help_text }}" required>{{ form.content.value | default_if_none:'' }}</textarea>
                            </div>
                        </div>

                        <div class="col-lg-8">
                            <div class="form-group">
                                <label class="form-control-label" for="{{ form.name.id_for_label }}">Name</label>
                                <input type="text" id="{{ form.name.id_for_label }}" name="{{ form.name.name }}" maxlength="{{ form.name.field.max_length }}" class="text-capitalize form-control form-control-alternative" placeholder="{{ form.name.help_text }}" value="{{ form.name.value | default_if_none:'' }}" required >
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label" for="{{ form.status.id_for_label }}">Status</label>
                                <select name="{{ form.status.name }}" class="form-control form-control-alternative text-capitalize" id="{{ form.status.id_for_label }}">
                                    {% for choice in form.status.field.choices %}
                                        <option class="text-capitalize" value="{{ choice.0 }}"
                                            {% ifequal form.status.value choice.0 %}
                                                selected="selected"
                                            {% endifequal %}
                                        >{{ choice.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="{{ form.email.id_for_label }}">E-Mail Address</label>
                                <input type="email" id="{{ form.email.id_for_label }}" name="{{ form.email.name }}" maxlength="{{ form.email.field.max_length }}" class="text-capitalize form-control form-control-alternative" placeholder="{{ form.email.help_text }}" value="{{ form.email.value | default_if_none:'' }}" required >
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="{{ form.website.id_for_label }}">Website</label>
                                <input type="text" id="{{ form.website.id_for_label }}" name="{{ form.website.name }}" maxlength="{{ form.website.field.max_length }}" class="text-capitalize form-control form-control-alternative" placeholder="{{ form.website.help_text }}" value="{{ form.website.value | default_if_none:'' }}" required >
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="saveChanges">Save Changes</button>
                </div>

            </form>

        </div>
    </div>
</div>
<!-- End of Modal -->
{% endblock mainContent %}