.table-responsive {
    height: 750px !important;
    overflow: scroll;
    padding: 1em;
}

.card .table td, 
.card .table th {
    padding-left: 1rem;
    padding-right: 1rem;
}

.card .table td.comment {
    white-space: normal !important;
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
    width: 700% !important;
}

.card .table td.post {
    width: 400% !important;
}

.card .table td.post a {
    white-space: pre-wrap !important;
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
}

form .alert.displaycomment {
    padding: .4em .8em;
}