.table-responsive {
    height: 750px !important;
    overflow: scroll;
    padding: 1em;
}

table tr td.title,
table tr td.tag {
    width: 200px !important;
    white-space: normal;
    word-wrap: break-word;
}