{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block title %} {% endblock title %}
    <!-- Favicon -->
    <link href="{% static 'images/logo.png' %}" rel="icon" type="image/png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="{% static 'fontawesome/css/all.min.css' %}" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="{% static 'css/argon-dashboard.css' %}" rel="stylesheet" />

    {% block customcss %} {% endblock customcss %}
</head>
<body>

    {% block content %} {% endblock content %}

    <!--   Core   -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <!--   Optional JS   -->
    <!--   Argon JS   -->
    <script src="{% static 'js/argon-dashboard.min.js' %}"></script>
    {% block customjs %} {% endblock customjs %}
</body>

</html>